/*-- ввод даних  */

.send { padding: 40px;
position: relative;

&-p {
text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: $color-black-text;
margin-bottom: 12px;
}

&-input{ 
display: flex;
flex-direction: column;
position: relative;

}

&-input label { 
    font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: $color-contackt;
        margin-bottom: 4px;
}
    
&-field {
    
    width: 100%;
    max-width: 406px;
    padding-left: 42px;
    height: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4 , 0 , 0.2 , 1);
    cursor: pointer;
}



&-svg {
    position: absolute;
    top: 38px;
    left: 14px;
    transform: translateY(-50%);
    
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}


&-box:focus-within + &-focus {fill: $color-focus; }
&-box:focus-within &-field { border-color: $color-focus;}

&-box:hover + &-focus {fill: $color-focus;}
&-box:hover &-field {border-color: $color-focus;}




&-textarea {
    box-sizing: border-box;
    max-width: 448px;
    max-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
 }

&-textarea { 
    font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        padding: 12px 16px;
        outline: none}

/*-- нижній рядок  */

&-check { 
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
    margin-left: 12px;
    gap: 10px;
   
   font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $color-contackt}
    
&-checkbox:checked + &-span 
{ 
    background-color: $color-focus;
    background-image: url(../img/like.svg);
    background-size: contain;
    border-color: $color-focus;}
        

&-checkbox {
     appearance: none;
     position: absolute;}
  
&-span {
     width: 13px;
    height: 13px;
    border: 2px solid $color-black-text;
    border-radius: 4px;}

&-check__a {
    color: $color-focus;
    text-decoration: underline;
}


    &-btn {
     position: absolute;
     top: 491px;
     left: 164px;
     width: 200px;
     height: 50px;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 30px;
     transition: background-color 250ms cubic-bezier(0.4 , 0 , 0.2 , 1 );}

           &-btn:hover { background-color: $color-button-active; }       }

           