/* -- наша команда -- */
 
.team {
background-color: $color-white-card;
padding-top: 94px;
padding-bottom: 94px;

&-titel {
    margin-bottom: 50px;
    
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
   letter-spacing: 0.03em;
    color: $color-black-text;}

&-lid {
    padding: 0px;
    display: flex;
}

&-cart {
    background-color: $color-white-card;
    box-shadow: var(--box-shadow-cart);
}

&-men {
        padding-top: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $color-black-text;}

&-text {margin-top: 10px;
            padding-bottom: 15px;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color:$color-contackt ;}


      &-cart + &-cart { margin-left: 30px;} }
        
        
        