$color-focus: #2196F3;
$color-contackt :  #757575; 
$color-black-text: #212121;
$color-button-active: #188CE8;
$color-white-card:#F5F5F5;
$color-icon-team:#AFB1B8; 
$color-bck-cart:#F5F4FA
/* футер */
$color-footer-bgk: #2F303A;
$color-white-text:#FFFFFF; 
$colour-fhirst-contackt:rgba(255, 255, 255, 0.6);

$color-icon-footer: rgba(255, 255, 255, 0.1);
