.button { border: none;
        color: $color-white-text;
        background-color: $color-focus;  
        cursor: pointer;
        border-radius: 4px; 
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}