/* 2 верхня частина для порфоліо навігація*/

.porfolio {text-align: center;
padding-top: 94px;
padding-bottom: 94px;

&-list {
display: flex;
justify-content: center;
margin-bottom: 50px;
gap: 8px;
padding: 0px;

font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
}


&-btn { border-radius: 4px;
border: 0px;}
&-btn { padding: 6px 22px;}

&-btn {background: $color-white-card;
    color: $color-black-text;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 2.15;
    letter-spacing: 0.03em;
    cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&-btn:hover,
&-btn:focus {background-color: $color-focus;
color: $color-white-text;
} }
