.about {
background-color:var(--sectiom-dark-);
padding-top: 200px;
padding-bottom: 200px;


& {
    width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(var(--linear-gradient-about--), var(--linear-gradient-about--)), url(../img/Img.svg) ;
    background-repeat: no-repeat;}

&-titel {
    margin: 0 auto;
    max-width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white-text}

&-btn { 
        border: none;
        color: $color-white-text;
        background-color: $color-focus;  
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;}

&-btn {
        display: block;
        margin: 0 auto ;
        margin-top: 30px;
        padding: 10px 32px;
       
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-family: 'Roboto',sans-serif;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&-btn:hover {background-color: $color-button-active;
        }
&-btn:focus {background-color: $color-button-active;
        } }