/*-- про нас */
  
.qualities { 
  
&-svg { 
padding-top: 25px;
    width: 65px;
    height: 70px;
}
  
&-me {
      display: flex;
      padding-top: 94px;
      padding-bottom: 94px;
      padding-left: 0px;
  }

&-titel {
    
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-black-text;
    text-transform: uppercase;}

&-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 2.0;
        letter-spacing: 0.03em;
        color: $color-contackt ;}

  

&-list { width: 270px;}
&-list:not(:last-child) {margin-right: 30px;}

&-block {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 270px;
        height: 120px;
        background-color: $color-bck-cart ;
        border-radius: 4px;
        }

&-block { 
        text-align: center;
        width: 270px;
        height: 120px; 
        background-color: $color-white-text;
        border-radius: 4px ;
        
        margin-bottom: 30px;}
        
&-svg { width: 65px;
        height: 70px;
        margin: 25px;}
        }