/* -- чим ми займаємось-- */
.work {padding-bottom: 94px;

&-titel {
    text-align: center;
   margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $color-black-text;}

&-list { display: flex;
         padding-left: 0px;
        margin: -15px;}


&-set {margin: 15px;} }